{% extends 'base.html' %}
{% block miancontainer %}
    <div class="smart-widget">
        <div class="smart-widget-header">
           基础信息 > 学科平台课
            <span class="smart-widget-option">

            </span>
        </div>
        <!-- add-->
		<div class="modal fade" id="formInModal" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">添加新学科平台课</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form  id='useraddform' method="post" role="form" class="form-horizontal">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="cdId">学科平台课编号</label>
                                <div class="col-sm-8">
{#                                    <input class="form-control" id="cdId" placeholder="请输入专业编号">#}
                                    <select class="form-control" id="cdId">
                                        {% for c in course %}
                                            <option value="{{ c.id }}">{{ c.id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
				  			</div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="subName">学科名称</label>
                                 <div class="col-sm-8">
{#                                     <input class="form-control" id="subName" placeholder="请输入学科名称">#}
                                     <select class="form-control" id="subName">
                                         {% for s in subject %}
                                             <option value="{{ s }}">{{ s }}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                            </div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="courseName">课程名称</label>
                                 <div class="col-sm-8">
{#                                     <input class="form-control" id="courseName" placeholder="请输入课程名称">#}
                                     <select class="form-control" id="courseName">
                                         {% for c in course %}
                                             <option value="{{ c.name }}">{{ c.name }}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                            </div>
		        		</form>
                        <a id='add'class="btn btn-danger block m-top-md">添加</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <!-- modify-->
		<div class="modal fade" id="modify" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">修改学科平台课信息</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form  id='addform' method="post" role="form" class="form-horizontal">
                            <input id="modid" type="hidden">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="subName">学科名称</label>
                                <div class="col-sm-8">
{#                                    <input class="form-control" id="modSubName" placeholder="">#}
                                    <select class="form-control" id="modSubName">
                                         {% for s in subject %}
                                             <option value="{{ s }}">{{ s }}</option>
                                         {% endfor %}
                                     </select>
                                </div>
				  			</div>
                            <div class="form-group">
				    			<label class="control-label col-sm-3" for="courseName">课程名称</label>
                                <div class="col-sm-8">
{#                                    <input class="form-control" id="modCourseName" placeholder="">#}
                                    <select class="form-control" id="modCourseName">
                                        {% for c in course %}
                                            <option value="{{ c.name }}">{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
				  			</div>
		        		</form>
                        <a id='modcd' class="btn btn-danger block m-top-md">修改</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <div class="smart-widget-inner">
            <div class="smart-widget-body">
                <p>学科  <input> 课程<input><button class="btn btn-info btn-xs">查询</button> <button data-target="#formInModal" data-toggle="modal" class="btn btn-info btn-sm" style="padding:3px">添加</button></p>
                <p>经管学院学科平台课列表</p>
                <table class="table table-bordered" id="usertable">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>学科</th>
                        <th>课程</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in list %}
                        <tr id="{{ i.id }}">
                            <td width="50" id="{{ i.id }}">{{ i.id }}</td>
                            <td width="100">{{ i.subject }}</td>
                            <td width="100">{{ i.course }}</td>
                            <td width="100">
                                <button class="btn btn-info btn-xs xiugai">编辑</button>
                                <button class="btn btn-info btn-xs del">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->

    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
    <script type="text/javascript">
        $('#add').on('click',function(){
            var courseName = $('#courseName').val();
            var subName = $('#subName').val();
            var cdId = $('#cdId').val();
            if(subName==''){
                $("#subName").focus();
            }else if(courseName==''){
                $("#courseName").focus();
            }else if(cdId==''){
                $("#cdId").focus();
            }else{
                var data = {}
                data['subName']=subName;
                data['cdId']=cdId;
                data['courseName']=courseName;
                $.ajax({
                    url: '/Model/cdAdd',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(result) {
                        if ( result == "post_success" ) {
                            window.location.reload();
                        }else {
                            alert('未成功');
                        }
                    }
                })
            }
        });
        $('.xiugai').on('click',function (){
            var tr = $(this).parents("tr");
            var subName = tr.children("td").eq(1).text();
            var cdId = tr.children("td").eq(0).text();
            var courseName = tr.children("td").eq(2).text();
            $('#modSubName').val(subName);
            $('#modCourseName').val(courseName);
            $('#modid').val(cdId);
            $("#modify").modal();
        });
        $('#modcd').on('click',function () {
            var subName = $('#modSubName').val();
            var courseName = $('#modCourseName').val();
            var id = $('#modid').val();
            if(subName==''){
                $("#modSubName").focus();
            }else if(courseName==''){
                $("#modCourseName").focus();
            }else{
                var data = {};
                data['subName'] = subName;
                data['courseName'] = courseName;
                data['id'] = id;
                console.log(data);
                $.ajax({
                    url: '/Model/cdMod',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result == "post_success") {
                            window.location.reload();
                        } else {
                            alert('修改未成功');
                        }
                    }
                });
            }
        });
        $('.del').on('click',function () {
            var r=confirm("警告：您确定要删除此课程吗？（此操作不可恢复）");
            if (r==true) {
                var tr = $(this).parents("tr");
                var id = tr.attr("id");
                console.log(id);
                $.ajax({
                    url: '/Model/cdDel',
                    type: 'POST',
                    data: {id: id},
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result.result == "post_success") {
                            {#document.getElementById(result.id).remove();#}
                             window.location.reload();
                        } else {
                            alert('删除未成功');
                        }
                    }
                });
            }
        })
        var c = {{ jcourse | safe }}
        $('#cdId').change(function () {
            $('#courseName').val(c[$(this).val()])
        })
        $('#courseName').change(function () {
            $('#cdId').val(c[$(this).val()])
        })
    </script>
{% endblock %}