{% extends 'base.html' %}
{% block miancontainer %}
    <div class="smart-widget">
        <div class="smart-widget-header">
           基础信息 > 学科平台课
            <span class="smart-widget-option">

            </span>
        </div>
        <!-- add-->
		<div class="modal fade" id="formInModal" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">添加新学科平台课</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form  id='useraddform' method="post" role="form" class="form-horizontal">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="cdId">学科平台课编号</label>
                                <div class="col-sm-8">
{#                                    <input class="form-control" id="cdId" placeholder="请输入专业编号">#}
                                    <select class="form-control" id="cdId">
{#                                        {% for c in course %}#}
{#                                            <option value="{{ c.id }}">{{ c.id }}</option>#}
{#                                        {% endfor %}#}
                                    </select>
                                </div>
				  			</div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="subName">学科名称</label>
                                 <div class="col-sm-8">
{#                                     <input class="form-control" id="subName" placeholder="请输入学科名称">#}
                                     <select class="form-control" id="subName">
                                     <option value=""></option>
                                         {% for s in subject %}
                                             <option value="{{ s }}">{{ s }}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                            </div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="courseName">课程名称</label>
                                 <div class="col-sm-8">
{#                                     <input class="form-control" id="courseName" placeholder="请输入课程名称">#}
                                     <select class="form-control" id="courseName">
{#                                         {% for c in course %}#}
{#                                             <option value="{{ c.name }}">{{ c.name }}</option>#}
{#                                         {% endfor %}#}
                                     </select>
                                 </div>
                            </div>
		        		</form>
                        <a id='add'class="btn btn-danger block m-top-md">添加</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <!-- modify-->
		<div class="modal fade" id="modify" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">修改学科平台课信息</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form  id='addform' method="post" role="form" class="form-horizontal">
                            <input id="modid" type="hidden">
                            <input id="orisub" type="hidden">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="subName">学科名称</label>
                                <div class="col-sm-8">
{#                                    <input class="form-control" id="modSubName" placeholder="">#}
                                    <select class="form-control" id="modSubName">
                                         {% for s in subject %}
                                             <option value="{{ s }}">{{ s }}</option>
                                         {% endfor %}
                                     </select>
                                </div>
				  			</div>
                            <div class="form-group">
				    			<label class="control-label col-sm-3" for="courseName">课程名称</label>
                                <div class="col-sm-8">
{#                                    <input class="form-control" id="modCourseName" placeholder="">#}
                                    <select class="form-control" id="modCourseName">
{#                                        {% for c in course %}#}
{#                                            <option value="{{ c.name }}">{{ c.name }}</option>#}
{#                                        {% endfor %}#}
                                    </select>
                                </div>
				  			</div>
		        		</form>
                        <a id='modcd' class="btn btn-danger block m-top-md">修改</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <div class="smart-widget-inner">
            <div class="smart-widget-body">
                <table style="border: 0px solid transparent !important;" aligh="center">
                    <td width="60"><h5>学科</h5></td>
                    <td width="300"><input type="text" class="form-control" id="myInput1"  onkeyup="myFunction1()" placeholder="搜索学科..." style="width:300px"></td>
                    <td width="100"></td>
                    <td width="60"><h5>课程</h5></td>
                    <td width="300"><input type="text" class="form-control" id="myInput2"  onkeyup="myFunction2()" placeholder="搜索课程..." style="width:300px"></td>
                    <td width="200"></td>
                    <td width="200"><button data-target="#formInModal" data-toggle="modal" class="btn btn-info btn-sm" style="padding:5px">添加</button></td>
                </table>
            <br/>
                <p>经管学院学科平台课列表</p>
                <table class="table table-bordered" id="usertable">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>课程编号</th>
                        <th>学科</th>
                        <th>课程</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in list %}
                        <tr id="{{ i.courseId }}">
                            <td width="50" id="{{ i.id }}">{{ i.id }}</td>
                            <td width="50" id="{{ i.courseId }}">{{ i.courseId }}</td>
                            <td width="100">{{ i.subject }}</td>
                            <td width="100">{{ i.course }}</td>
                            <td width="100">
                                <button class="btn btn-info btn-xs xiugai">编辑</button>
                                <button class="btn btn-info btn-xs del">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->

    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
    <script type="text/javascript">
        var slist = {{ slist | safe }}
        $('#add').on('click',function(){
            var courseName = $('#courseName').val();
            var subName = $('#subName').val();
            var cdId = $('#cdId').val();
            if(subName==''){
                $("#subName").focus();
            }else if(courseName==''){
                $("#courseName").focus();
            }else if(cdId==''){
                $("#cdId").focus();
            }else{
                var data = {}
                data['subName']=subName;
                data['cdId']=cdId;
                data['courseName']=courseName;
                $.ajax({
                    url: '/Model/cdAdd',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(result) {
                        if ( result == "post_success" ) {
                            window.location.reload();
                        }else {
                            alert('未成功');
                        }
                    }
                })
            }
        });
        $('.xiugai').on('click',function (){
            var tr = $(this).parents("tr");
            var subName = tr.children("td").eq(2).text();
            var cdId = tr.children("td").eq(1).text();
            var courseName = tr.children("td").eq(3).text();
            $('#modSubName').val(subName);
            $('#modCourseName').val(courseName);
            $('#modid').val(cdId);
            $('#orisub').val(subName);
            $("#modify").modal();
        });
        $('#modcd').on('click',function () {
            var subName = $('#modSubName').val();
            var courseName = $('#modCourseName').val();
            var id = $('#modid').val();
            var orisub = $('#orisub').val();
            if(subName==''){
                $("#modSubName").focus();
            }else if(courseName==''){
                $("#modCourseName").focus();
            }else{
                var data = {};
                data['subName'] = subName;
                data['courseName'] = courseName;
                data['id'] = id;
                data['orisub'] = orisub;
                console.log(data);
                $.ajax({
                    url: '/Model/cdMod',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result == "post_success") {
                            window.location.reload();
                        } else {
                            alert('修改未成功');
                        }
                    }
                });
            }
        });
        $('.del').on('click',function () {
            var r=confirm("警告：您确定要删除此课程吗？（此操作不可恢复）");
            if (r==true) {
                var tr = $(this).parents("tr");
                var id = tr.attr("id");
                var sub = tr.children("td").eq(2).text();
                console.log(id);
                $.ajax({
                    url: '/Model/cdDel',
                    type: 'POST',
                    data: {id: id, sub: sub},
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result.result == "post_success") {
                            {#document.getElementById(result.id).remove();#}
                             window.location.reload();
                        } else {
                            alert('删除未成功');
                        }
                    }
                });
            }
        })
        var c = {{ jcourse | safe }}
        $('#cdId').change(function () {
            $('#courseName').val(c[$(this).val()])
        })
        $('#courseName').change(function () {
            $('#cdId').val(c[$(this).val()])
        })

        $('#subName').change(function () {
            var sn = $('#subName').val();
            var l = slist[sn];
            var id = $('#cdId');
            var nm = $('#courseName');
            id.empty();
            nm.empty();
            for(var i=0; i<l.length; i++){
                var name = c[l[i]];
                id.append("<option value='" + l[i] + "'>" + l[i] + "</option>");
                nm.append("<option value='" + name + "'>" + name + "</option>");
            }
        })
        $('#modSubName').change(function () {
            var sn = $('#modSubName').val();
            var l = sslist[sn];
            var nm = $('#modCourseName');
            nm.empty();
            for(var i=0; i<l.length; i++){
                var name = c[l[i]];
                nm.append("<option value='" + name + "'>" + name + "</option>");
            }
        })

        function myFunction1() {
            // 声明变量
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput1");
            filter = input.value.toUpperCase();
            table = document.getElementById("usertable");
            tr = table.getElementsByTagName("tr");

            // 循环表格每一行，查找匹配项
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function myFunction2() {
            // 声明变量
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput2");
            filter = input.value.toUpperCase();
            table = document.getElementById("usertable");
            tr = table.getElementsByTagName("tr");

            // 循环表格每一行，查找匹配项
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}