{% extends 'base.html' %}
{% block miancontainer %}
    <div class="smart-widget">
        <div class="smart-widget-header">
           基础数据 > 先修课
            <span class="smart-widget-option">
                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </span>
        </div>
        <!-- add-->

		<div class="modal fade" id="formInModal" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">添加先修课</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form  id='useraddform' method="post" role="form" class="form-horizontal">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="courseName">课程名称</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="courseName" placeholder="请输入课程名称" value="{{ courseName }}">
                                </div>
				  			</div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">先修课名称</label>
                                <input type="hidden"  name = "pCourseName" for="pCourseName">
                                <div class="col-sm-8">
                                    <select class="form-control" id="pCourseName">
                                         {% for i in courseList %}
                                             <option value="{{ i.courseName }}">{{ i.courseName }}</option>
                                         {% endfor %}
                                    </select>
                                </div>
                            </div>
		        		</form>
                        <a id='add'class="btn btn-danger block m-top-md">添加</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <!-- modify-->
		<div class="modal fade" id="modify" aria-hidden="true">
		  	<div class="modal-dialog modal-sm">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">修改先修课</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form  id='addform' method="post" role="form" class="form-horizontal">
                            <input id="modid" type="hidden">
				  			<div class="form-group">
				    			<label class="control-label col-sm-3" for="courseName">课程名称</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="modCourseName" placeholder="">
                                </div>
				  			</div>
                            <div class="form-group">
							    <label class="control-label col-sm-3" for="pCourseName">先修课</label>
                                 <div class="col-sm-8">
                                     <input  class="form-control" id="modPCourseName" placeholder="请输入先修课">
                                 </div>
                            </div>
		        		</form>
                        <a id='mod'class="btn btn-danger block m-top-md">修改</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <div class="smart-widget-inner">
            <div class="smart-widget-hidden-section">
                <ul class="widget-color-list clearfix">
                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
					<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
					<li style="background-color:#2baab1;" data-color="widget-green"></li>
					<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
					<li style="background-color:#fbc852;" data-color="widget-orange"></li>
					<li style="background-color:#e36159;" data-color="widget-red"></li>
					<li style="background-color:#7266ba;" data-color="widget-purple"></li>
					<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
					<li style="background-color:#fff;" data-color="reset"></li>
                </ul>
            </div>
            <div class="smart-widget-body">
                <table style="border: 0px solid transparent !important;" aligh="center">
                    {% comment %}<td width="60"><h5>先修课</h5></td>
                    <td width="300"><input type="text" class="form-control"><span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span></td>
                    <td width="200"><button class="btn btn-info btn-xs" style="padding:3px">查询</button></td>{% endcomment %}
                    <td width="200"><button data-target="#formInModal" data-toggle="modal" class="btn btn-info btn-sm" style="padding:3px">新增</button></td>
                </table>
            <br/>
                <table class="table table-bordered" id="usertable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>课程名称</th>
                        <th>先修课名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in coursePreviousList %}
                        <tr id="{{ i.id }}">
                            <td>{{ i.count }}</td>
                            <td>{{ i.courseName }}</td>
                            <td>{{ i.pCourseName }}</td>
                            <td>
                                <button class="btn btn-info btn-xs xiugai">编辑</button>
                                <button class="btn btn-info btn-xs del">删除</button>

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->

    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
    <script type="text/javascript">

        $('#add').on('click',function(){
            var courseName = $('#courseName').val();
            var pCourseName = $('#pCourseName').val();
            if(courseName==''){
                $("#courseName").focus();
            }else if(pCourseName==''){
                $("#pCourseName").focus();
            }else{
                var data = {}
                data['courseName']=courseName;
                data['pCourseName']=pCourseName;
                $.ajax({
                    url: '/Model/coursePreviousAdd/',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(result) {
                        if ( result == "post_success" ) {
                            window.location.reload();
                        }else {
                            alert('未成功');
                        }
                    }
                })
            }
        });
        $('.xiugai').on('click',function (){
            var tr = $(this).parents("tr");
            var id = tr.attr("id");
            var courseName = tr.children("td").eq(1).text();
            var pCourseName = tr.children("td").eq(2).text();

            $('#modCourseName').val(courseName);
            $('#modPCourseName').val(pCourseName);
            $("#modid").val(id);
            $("#modify").modal();
        });
        $('#mod').on('click',function () {
            var courseName = $('#modCourseName').val();
            var pCourseName = $('#modPCourseName').val();
            if(courseName==''){
                $("#modCourseName").focus();
            }else if(pCourseName==''){
                $("#modPCourseName").focus();
            }else{
                var data = {};
                data['id'] = $("#modid").val();
                data['courseName']=courseName;
                data['pCourseName']=pCourseName;
                $.ajax({
                    url: '/Model/coursePreviousModify/',
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result == "post_success") {
                            window.location.reload();
                        } else {
                            alert('修改未成功');
                        }
                    }
                })
            }
        })
        $('.del').on('click',function () {
            var r=confirm("警告：您确定要删除此先修课吗？（此操作不可恢复）");
            if (r==true) {
                var tr = $(this).parents("tr");
                var id = tr.attr("id");
                $.ajax({
                    url: '/Model/coursePreviousDelete/',
                    type: 'POST',
                    data: {id: id},
                    dataType: 'json',
                    timeout: 10000,
                    success: function (result) {
                        if (result.result == "post_success") {
                            document.getElementById(result.id).remove();
                            window.location.reload();
                        } else {
                            alert('删除未成功');
                        }
                    }
                });
            }

        })


    </script>
{% endblock %}