{% extends 'base.html' %}
{% block miancontainer %}
    <style>
    .notstart {
        background-color: #e0e0e0;
    }
    .processing {
        background-color: #00CC00;
    }
    .ended {
        background-color: lightsteelblue;
    }
    .row {
      margin-left: -20px;
      *zoom: 1; }
      /* line 15, /Users/jonasvonandrian/.rvm/gems/ruby-1.9.3-p484/bundler/gems/sass-twitter-bootstrap-06795315e047/lib/bootstrap/_mixins.scss */
      .row:before, .row:after {
        display: table;
        content: ""; }
      /* line 19, /Users/jonasvonandrian/.rvm/gems/ruby-1.9.3-p484/bundler/gems/sass-twitter-bootstrap-06795315e047/lib/bootstrap/_mixins.scss */
      .row:after {
        clear: both; }
    ol.simple_with_animation li.placeholder {
      position: relative;
      /** More li styles **/
    }
    ol.simple_with_animation li.placeholder:before {
      position: absolute;
      /** Define arrowhead **/
    }
    ol, li {
        padding: 0px;
    }
    .span4 {
        width: 100px;
    }
    ol.simple_with_animation {
        border: 1px solid #999999;
    }
    [class*="span"] {
      float: left;
      margin-left: 20px;
    }

    ol.vertical {
      margin: 0 0 9px 0;
      min-height: 10px; }
      /* line 13, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
      ol.vertical li {
        display: block;
        margin: 5px;
        padding: 5px;
        border: 1px solid #cccccc;
      }
      /* line 20, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
      ol.vertical li.placeholder {
        position: relative;
        margin: 0;
        padding: 0;
        border: none; }
        /* line 25, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
        ol.vertical li.placeholder:before {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          margin-top: -5px;
          left: -5px;
          top: -4px;
          border: 5px solid transparent;
          border-left-color: red;
          border-right: none; }
    ol.nested_with_switch li, ol.simple_with_animation li, ol.serialization li, ol.default li {
    cursor: pointer; }
    </style>
    <div class="smart-widget">
        <div class="smart-widget-header">
           教学大纲管理 > 教学计划 > 可视化
        </div>

        <div class="smart-widget-inner">
            <div class="smart-widget-body">
{#                <button class="btn btn-info btn-xs commit">提交</button>#}
                <p>图例:</p>
                <div class="row">
                    <div class="span4 notstart">未开始</div>
                    <div class="span4 processing">正进行</div>
                    <div class="span4 ended">已结束</div>
                </div>
                <p>&nbsp;</p>

                <div class="row">
                    <div class="span4">
                        <p>第一学期</p>
                        <ol class="simple_with_animation vertical sem1">
{#                          <li id="1">First</li>#}
{#                          <li id="2">Second</li>#}
{#                          <li id="3">Third</li>#}
                        </ol>
                    </div>
                    <div class="span4">
                        <p>第二学期</p>
                        <ol class="simple_with_animation vertical sem2">

                        </ol>
                    </div>
                    <div class="span4">
                        <p>第三学期</p>
                        <ol class="simple_with_animation vertical sem3">

                        </ol>
                    </div>
                    <div class="span4">
                        <p>第四学期</p>
                        <ol class="simple_with_animation vertical sem4">

                        </ol>
                    </div>
                     <div class="span4">
                         <p>第五学期</p>
                        <ol class="simple_with_animation vertical sem5">

                        </ol>
                    </div>
                    <div class="span4">
                        <p>第六学期</p>
                        <ol class="simple_with_animation vertical sem6">

                        </ol>
                    </div>
                    <div class="span4">
                        <p>第七学期</p>
                        <ol class="simple_with_animation vertical sem7">

                        </ol>
                    </div>
                    <div class="span4">
                        <p>第八学期</p>
                        <ol class="simple_with_animation vertical sem8">

                        </ol>
                    </div>
                </div>
            </div>
        </div><!-- ./smart-widget-inner -->
    </div><!-- ./smart-widget -->

    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
    <script src="/static/js/jquery-sortable-min.js"></script>
    <script type="text/javascript">

        var cl = {{ cl | safe }}
        var statuss = ["notstart", "processing", "ended"];
        for(var i=0; i<cl.length; i++){
            var crs = cl[i]
            var name = crs.courseName;
            if(name.length > 5){
                name = name.substr(0, 5) + "...";
            }
            $('.sem'+crs.semester).append("<li id='" + crs.courseName + "' class='" + statuss[crs.status] + "' title='" +
                crs.courseName + "'>" + name + "</li>")
        }
    </script>
{% endblock %}